# Database
DATABASE_URL="postgresql://user:password@localhost:5432/finflow?schema=public"

# JWT Secret - change this in production!
JWT_SECRET="your-super-secret-jwt-key-minimum-32-chars-change-in-production"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Node environment
NODE_ENV="development"

# Email Verification — using Gmail SMTP
GMAIL_USER="your-gmail@gmail.com"
GMAIL_PASSWORD="your-app-password"
